body{
    frony-family: Arial,sans-sherif;
    background-color: #blue;
    color: #white;
}
header{
    background-color: #yellow;
    color: #000;
    padding: 20px;
    text-align: center;
}